<settings>
	<mirrors>
		<mirror>
			<id>remote-mirror</id>
			<name>remote-mirror</name>
			<url>http://ilutdto353.corp.amdocs.com:8081/repository/maven-central</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>	
	<profiles>
		<profile>
			<id>global-properties</id>
			<properties>
			</properties>
		</profile>
		<profile>
			<id>repositories</id>
			<properties>
				<repo.url>http://ilutdto353.corp.amdocs.com:8081/repository/maven-central</repo.url>
			</properties>
			<repositories>
				<repository>
					<id>remote-repo</id>
					<name>remote-repo</name>
					<url>${repo.url}/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>remote-repo</id>
					<name>remote-repo</name>
					<url>${repo.url}/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>global-properties</activeProfile>
		<activeProfile>repositories</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>releases</id>
			<username>${env.DEPLOY_USER}</username>
			<password>${env.DEPLOY_PASSWORD}</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>${env.DEPLOY_USER}</username>
			<password>${env.DEPLOY_PASSWORD}</password>
		</server>
		<server>
			<id>remote-mirror</id>
			<configuration>
				<httpConfiguration>
					<get>
						<readTimeout>480000</readTimeout> <!-- milliseconds -->
					</get>
				</httpConfiguration>
			</configuration>
		</server>
	</servers>
</settings>
